h3{
    color:red;
}
p{
    color:black;
    background-color: burlywood;
}
.cl1{
         background-color: coral;
         padding: 20px;
         border: 20px solid gainsboro;
         border-radius: 15px;

}